.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 450 !important;
  &-wrapper {
    //   position: absolute !important;
    //   width: 100%;
    background: _palette(primary);
    z-index: 401;
  }
}
.headroom--unfixed {
  transform: translateY(0);
  background: _palette(primary);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
  background: _palette(primary);
}

.header {
  .terminal-nav {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include breakpoint(lg) {
    }
    .logo {
      img {
        max-height: 100px;
        width: auto;
        transition: all 0.5s ease-in-out;
      }
      a {
        &:hover {
          background-color: transparent;
          img {
            transform: scale(1.1);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
    .main-menu {
      display: none;
      @include breakpoint(lg) {
        display: block;
        padding: 0 calc(var(--global-space) * 2);
        a {
          font-size: 24px;
          color: white;
        }
      }
    }
    .burger-menu {
      display: flex;
      flex: 1;
      float: right;
      justify-content: flex-end;
      max-width: 40px;
      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}
