.hero {
  align-items: center;
  background: rgba(0, 0, 0, 0.075) url('../images/bg.png');
  height: 650px;
  @supports (display: grid) {
    display: grid;
  }

  @supports not (display: grid) {
    display: flex;
  }
}
