* {
  margin: 0;
  padding: 0;
  &::selection {
    background: white !important;
    color: black !important;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content-container {
  margin: 0 auto;
  padding: 50px 30px;
  @include breakpoint(sm) {
    max-width: _container(sm);
  }
  @include breakpoint(md) {
    max-width: _container(md);
  }
  @include breakpoint(lg) {
    max-width: _container(lg);
  }
  @include breakpoint(xl) {
    max-width: _container(xl);
  }
  @include breakpoint(xxl) {
    max-width: _container(xxl);
  }
}

.text {
  @include modifier('center') {
    text-align: center;
  }
  @include modifier('uppercase') {
    text-transform: uppercase;
  }
}

.logo {
  // animation: Logo-spin infinite 20s linear;
  max-height: 200px;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

figure {
  max-width: fit-content;
}

iframe {
  max-width: 100%;
}

.components {
  &.components-grid {
    @include breakpoint(lg) {
      display: grid;
      grid-column-gap: 1.4em;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-columns: 9fr 3fr;
    }
  }
}

.expansion-panel {
  background-color: _palette(secondary) !important;
  & code {
    background-color: _palette(primary) !important;
    color: white;
  }
}

.home-page {
  .sidebar {
    max-height: 400px;
    overflow-y: auto;
  }
}

.sidebar {
  padding-left: 20px;
}
