/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $element - Modifier's name
@mixin modifier($element) {
  &--#{$element} {
    @content;
  }
}

/// The glitch Mixin
@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
