:root {
  --background-color: #222225 !important;
  --background-color--darker: #111;
  --font-color: #e8e9ed !important;
  --font-color-light: #fff;
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif, 'Press Start 2P' !important;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --invert-font-color: #fff !important;
  --secondary-color: #a3abba !important;
  --tertiary-color: #62c4ff !important;
  --primary-color: #285c73 !important;
  --error-color: #ff3c74 !important;
  --progress-bar-background: #3f3f44 !important;
  --progress-bar-fill: #62c4ff !important;
  --code-bg-color: #3f3f44 !important;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px
);

$container: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1610px
);

// Palette.
$palette: (
  bg-alt: #333333,
  bg: var(--background-color),
  bg-dark: var(--background-color--darker),
  fg: var(--font-color),
  fg-light: var(--font-color-light),
  border: rgba(0, 0, 0, 0.125),
  border-bg: rgba(0, 0, 0, 0.05),
  primary: #285c73,
  secondary: #a3abba,
  tertiary: var(--primary-color),
  invert: (
    bg: #3a3a3a,
    fg: #ffffff,
    fg-bold: #ffffff,
    fg-light: rgba(255, 255, 255, 0.5),
    border: #ffffff,
    border-bg: rgba(255, 255, 255, 0.05)
  )
);
